<nav>
    <a href="/portfolio/twitter-clone" class="logo">LOGO</a>
    <a href="/portfolio/twitter-clone" class="links">Home</a>
    <a href="/portfolio/twitter-clone/users" class="links">Users</a>
    <a href="/portfolio/twitter-clone/1" class="links">Profile</a>
    <a href="/portfolio/twitter-clone" class="btn">Tweet</a>
</nav>
