<nav>
    <a href="" class="logo">LOGO</a>
    <a href="" class="links">Home</a>
    <a href="" class="links">Users</a>
    <a href="" class="links">Profile</a>
    <a href="" class="btn">Tweet</a>
</nav>