$redColor: #e12c44;
$greenColor: #09BC8A;
$blackColor: #15131b;
$whiteColor: #dad7da;
$mutedWhiteColor: #8b8a8a; 

@mixin defaultTransition($property) {
  transition: $property 0.3s ease;
}

@mixin hoverMutedWhite() {
  &:hover {
    color: $mutedWhiteColor;
    fill:$mutedWhiteColor;
  }
} 

@mixin link() {
  padding: 1rem;
  font-size: 1.25em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $whiteColor;
  @include defaultTransition(color);
  @include hoverMutedWhite();
}

@mixin logo() {
  font-size: 1.5em;
  font-weight: 400;

  &:hover {
    color: $redColor;
    
    span {
      color: $whiteColor;
    }
  }

  span {
    color: $redColor;
    @include defaultTransition(color);
  }
}

@mixin icon() {
  width: 2.5rem;
  padding: 0.25rem;
  fill: $whiteColor;
  @include defaultTransition(fill);
  @include hoverMutedWhite();
}

@mixin btn() {
  width: fit-content;
  display: block;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $greenColor;
  color: $blackColor;
  @include defaultTransition(all);

  &:hover {
    background-color: #089c72;
    transform: scale(1.04);
  } 
}
