$redColor: #e12c44;
$greenColor: #09BC8A;
$blackColor: #141414;
$darkGrayColor: #2E2E3A;
$whiteColor: #dad7da;
$mutedWhiteColor: #8b8a8a; 

$bgColor: $blackColor;

@mixin defaultTransition($property) {
  transition: $property 0.2s ease;
}

@mixin hoverMutedWhite() {
  &:hover {
    color: $mutedWhiteColor;
    fill:$mutedWhiteColor;
  }
} 

@mixin link() {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: $whiteColor;
  @include defaultTransition(color);
  @include hoverMutedWhite();
}

@mixin logo() {
  font-size: 1.5em;

  &:hover {
    color: $redColor;
    
    span {
      color: $whiteColor;
    }
  }

  span {
    color: $redColor;
    @include defaultTransition(color);
  }
}

@mixin icon() {
  width: 2rem;
  padding: 0.25rem;
  fill: $whiteColor;
  @include defaultTransition(fill);
  @include hoverMutedWhite();
}

@mixin btn() {
  width: fit-content;
  display: block;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  background-color: $greenColor;
  color: $blackColor;
  @include defaultTransition(all);

  &:hover {
    transform: scale(1.04);
  } 
}
