<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

  <link rel="stylesheet" href="/styles/reset.css">

  <!-- BOOTSTRAP PROJECTS -->
  <% if(project==='landing-page' ) { %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <% } %>

      <link rel="stylesheet" href="/styles/partials.css">
      <link rel="stylesheet" href="/styles/portfolio/<%= project %>/styles.css">

      <!-- TATTOO SHOP V2 PROJECT -->
      <% if(project==='tattoo-shop-v2' && isOnWorkerPage) { %>
        <link rel="stylesheet" href="/styles/portfolio/tattoo-shop-v2/worker.css">
        <% } %>

          <script src="https://kit.fontawesome.com/293c007179.js" crossorigin="anonymous"></script>
</head>


<%- body %>

  <!-- BOOTSTRAP PROJECTS -->
  <% if(project==='landing-page' ) { %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
    <% } %>

      <script src="/scripts/portfolio/<%= project %>/script.js"></script>

      <!-- TATTOO SHOP V2 PROJECT -->
      <% if(project==='tattoo-shop-v2' && isOnWorkerPage) { %>
        <script src="/scripts/portfolio/tattoo-shop-v2/imageViewer.js"></script>
        <% } %>

</html>