<% layout('layouts/boilerplate') %>

<body>
  <header>
    <%- include('../../partials/twitter-clone-navbar') %>
  </header>
  <main>
    <div class="main-head">
      <p>Users</p>
    </div>

    <!-- DISPLAYS ALL USERS -->
    <% if (twitterUsers.length) { %>
    <% twitterUsers.forEach((person) => { %>
    <div class="tweet-container">
      <p class="user">
        <a href="/portfolio/twitter-clone/users/<%= `${person.id}` %>">@<%= person.user %></a>
      </p>
    </div>
    <% }); %>
    <% } %>
  </main>
  <footer>

  </footer>
</body>
