:root {
    --blue-color: #1D9BF0;
    --muted-color: #e4e4e4;
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    width: 20rem;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-right: 1px solid var(--muted-color);
}

header nav {
    width: 75%;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

header nav,
.main-head a {
    font-size: 1.5em;
}

.logo {
    margin: 1rem 0 0.75rem 0;
}

.links {
    width: fit-content;
    margin: 0.25rem 0;
}

.links,
.main-head a {
    color: black;
}

.links:hover {
    background-color: var(--muted-color);
}

.links,
.btn {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn {
    margin: 0.75rem 0;
    text-align: center;
    background-color: var(--blue-color);
    color: white;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #1a8ad4;
}

main {
    padding-left: 20rem;
}

.main-head {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.main-head a {
    display: inline-block;
    font-weight: bold;
}

.main-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.tweet-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tweet-form div {
    width: 100%;
    display: flex;
}

.tweet-form img {
    width: 2.5rem;
    margin-right: 1rem;
    object-fit: scale-down;
    object-position: 50%;
}

.tweet-form textarea {
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
    outline: none;
    overflow-y: hidden;
    resize: none;
}