<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Personal Portolio</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <header>
    <!-- WELCOME SECTION -->
    <section id="welcome-section" class="full-section">
      <h1>Jonathan,</h1>
      <h2>Website Developer</h2>
      <p>Passionate about creating and learning</p>
      <div class="arrow-container">
        <a href="#skills-section">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512">
            <title>Caret Down</title>
            <path d="M64 144l192 224 192-224H64z" />
          </svg>
        </a>
      </div>
    </section>

    <!-- NAV -->
    <nav>
      <div class="links-container">
        <!-- ABOUT LINK -->
        <a class="link" href="#skills-section">Skills</a>


        <!-- WORK LINK -->
        <a class="link" href="#work-section">Work</a>


        <!-- CONTACT LINK -->
        <a class="link" href="#contact-section">Contact</a>

        <!-- RESUME LINK -->
        <a class="link" href="#">Resume</a>
      </div>

      <div class="icons-container">
        <a href="https://github.com/VillagomezHJonathan" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512">
            <title>Logo Github</title>
            <path
              d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z" />
          </svg>
        </a>
      </div>
    </nav>

    <div class="logo-container">
      <a class="logo" href="/">Jon</a>
    </div>
  </header>

  <main>

    <!-- SKILLS SECTION -->
    <section id="skills-section" class="section">
      <h2 class="section-heading">Skills & Tools</h2>

      <div class="grid">
          <div class="skills-container">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Bootstrap</li>
              <li>Javascript</li>
              <li>Node.js</li>
              <li>NPM</li>
              <li>Express</li>
              <li>EJS</li>
              <li>Axios</li>
              <li>MongoDB</li>
              <li>MySQL</li>
              <li>RESTful Routes</li>
              <li>Git</li>
            </ul>
          </div>

          <div class="links-container">
            <a href="https://www.freecodecamp.org/certification/fccfc65f0f1-3bd6-4739-8234-58e342aa8586/responsive-web-design" target="_blank" class="btn-link">Responsive Web Design Certificate</a>
            <a href="https://www.udemy.com/certificate/UC-217ee34f-d357-4b1c-801d-2c09ffeeb7ab/" target="_blank" class="btn-link">MySQL Bootcamp Certificate</a>
          </div>

      </div>

    </section>

    <!-- WORK SECTION -->
    <section id="work-section" class="section">
      <h2 class="section-heading">Projects</h2>

      <!-- WORK GRID -->
      <div class="work-grid">
        <!-- TILE -->
        <div class="work-tiles">
          <img src="images/tattoo-shop-v2-screenshot.png" alt="Tattoo Shop V2 Screenshot">
          <div class="project-info">
            <div>
              <p class="subheading">Made With</p>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
              </ul>
            </div>
            <div>
              <p class="project-info-title">Tattoo Shop V2</p>
              <div>
                <a href="/portfolio/tattoo-shop-v2" class="btn">Demo</a>
                <a href="https://github.com/VillagomezHJonathan/Personal-Portfolio#tattoo-shop-mock-up-v2" target="_blank" class="btn">Code</a>
              </div>
            </div>
          </div>
        </div>

        <!-- TILE -->
        <div class="work-tiles">
          <img src="images/twitter-clone-screenshot.png" alt="Twitter Clone Screenshot">
          <div class="project-info">
            <div>
              <p class="subheading">Made With</p>
              <ul>
                <li>HTML</li>
                <li>EJS</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>RESTful Routes</li>
              </ul>
            </div>

            <div>
              <p class="project-info-title">Twitter Clone CRUD</p>
              <div>
                <a href="/portfolio/twitter-clone" class="btn">Demo</a>
                <a href="https://github.com/VillagomezHJonathan/Personal-Portfolio/blob/main/README.md#twitter-clone-crud" target="_blank" class="btn">Code</a>
              </div>
            </div>
          </div>
        </div>

        <div class="work-tiles">
          <img src="images/weather-app-screenshot.png" alt="Weather App Screenshot">
          <div class="project-info">
            <div>
              <p class="subheading">Made With</p>
              <ul>
                <li>HTML</li>
                <li>EJS</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Axios</li>
              </ul>
            </div>

            <div>
              <p class="project-info-title">Weather App</p>
              <div>
                <a href="/portfolio/weather" class="btn">Demo</a>
                <a href="https://github.com/VillagomezHJonathan/Personal-Portfolio/blob/main/README.md#weather-app" target="_blank" class="btn">Code</a>
              </div>
            </div>
          </div>
        </div>

        <div class="work-tiles">
          <img src="images/landing-page-screenshot.png" alt="Landing Page Screenshot">
          <div class="project-info">
            <div>
              <p class="subheading">Made With</p>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
              </ul>
            </div>

            <div>
              <p class="project-info-title">Bootstrap Landing Page</p>
              <div>
                <a href="/portfolio/landing-page" class="btn">Demo</a>
                <a href="https://github.com/VillagomezHJonathan/Personal-Portfolio/blob/main/README.md#bootstrap-landing-page" target="_blank" class="btn">Code</a>
              </div>
            </div>
          </div>
        </div>

        <div class="work-tiles">
          <img src="images/tattoo-shop-screenshot.png" alt="Tattoo Shop Screenshot">
          <div class="project-info">
            <div>
              <p class="subheading">Made With</p>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
              </ul>
            </div>
            <div>
              <p class="project-info-title">Tattoo Shop</p>
              <div>
                <a href="/portfolio/tattoo-shop" class="btn">Demo</a>
                <a href="https://github.com/VillagomezHJonathan/Personal-Portfolio/blob/main/README.md#tattoo-shop-mock-up" target="_blank" class="btn">Code</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- CONTACT SECTION -->
    <section id="contact-section" class="section">
      <h2 class="section-heading">Get in touch!</h2>

      <!-- EMAIL FORM -->
      <form class="contact-form" action="index.html" method="post">
        <div>
          <label for="name" class="hide">Name</label>
          <input type="text" name="name" id="name" placeholder="Name" required>

          <label for="email" class="hide">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <label for="subject" class="hide">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="Subject" required>

        <label for="message" class="hide">Message</label>
        <textarea name="message" id="message" placeholder="Message" required></textarea>
        <button class="btn">Send</button>
      </form>
    </section>

  </main>

  <footer>

    <p>Jon © 2022</p>
  </footer>

  <script src="/scripts/script.js"></script>
</body>

</html>
