@import './vars/variables.scss';

.About {
  
  .emoji {
    height: 400px;
  }
  
  .emoji-container {
    background: $redColor;
    width: fit-content;
    border-radius: 30% 70% 67% 33% / 32% 30% 70% 68%;
    margin-top: 0.5rem;
    margin: auto auto;
  }
  
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 1rem;
  }
}

.about-me {

  p {
    background-color: $bgColor;
    color: $whiteColor;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
  }
}

