@import './vars/variables.scss';

.App {
  background: rgb(21,19,27);
  background: linear-gradient(180deg, rgba(21,19,27,1) 0%, rgb(13, 12, 17) 100%);
  color: $whiteColor;


  section {
    max-width: 1500px;
    padding: 1rem 3rem;
    margin: 0 auto 10rem auto;
  }

  main {
    padding-top: 13rem;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    width: fit-content;
    font-size: 4em;
    margin-bottom: 1rem;
    border-bottom: 1px solid $redColor;
  }

  li, p {
    font-size: 2em;
  }

  label {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
  }

  .link {
    @include link();
  }

  .btn {
    @include btn();
  }

  .logo {
    @include logo();
  }

  .icon {
    @include icon();
  }
  
  @media (max-width: 1400px) {
    .emoji-wrapper {
      display: none;
    }
  }

  @media (max-width: 1000px) {

    #contact {
      form {
        width: 100%;
      }

      .upper-form {
        display: block;

        input {
          width: 100%;
          display: block;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 650px) {
    section {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    
    .Skills-class {
      
      button {
        padding: 1rem;
        font-size: 1em;
      }

      .skill-container {
        justify-content: center;
      }
    }
  }
}