@import './vars/variables.scss';

section {
  padding: 0 2rem;
  margin: 0 auto 0 auto;
  width: 100%;
  color: $blackColor;
  background: $whiteColor;

  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.border {
  overflow: hidden;
  background: $bgColor;
  
  svg {
  width: 100%;
  height: 25px;
  fill: $whiteColor;
  }
}

.sections {
  padding: 0 0.5rem;
  margin-top: 32rem;
  position: relative;
  z-index: 5;

  section {
    padding-bottom: 4rem;
  }

  section:first-of-type {
    border-radius: 5rem 5rem 0 0;
    padding-top: 4rem;
  }

  section:last-of-type {
    padding-bottom: 10rem;
  }
}

.App {
  h1 {
    font-size: 3em;
  }

  h2 {
    width: fit-content;
    font-size: 2em;
    margin-bottom: 1rem;
    border-bottom: 10px solid $redColor;
    padding: 0 1rem;
  }

  h3 {
    font-size: 1.75em;
    font-weight: bold;
    text-decoration: underline;
    color: $redColor;
  }

  ul {
    list-style-position: inside;
  }
  
  li, 
  p, 
  input, 
  textarea, 
  button,
  .btn, 
  .link {
    font-size: 1.25em;
  }

  label {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
  }

  .btn.hollow {
    border: 3px solid $mutedWhiteColor;
    background: none;
    color: $mutedWhiteColor;

    &.dark {
      color: $bgColor;
      border: 3px solid $bgColor;
    }
  }

  .link {
    @include link();
  }

  .btn {
    @include btn();
  }

  .logo {
    @include logo();
  }

  .icon {
    @include icon();
  }
  
  @media (max-width: 1400px) {
    .NavBar {
      justify-content: space-between;
      
      .links-container {
        display: none;
      }

      .menu-icon {
        display: block;
      }
    }

    .About {
      .about-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
      }
    }
  }

  @media (max-width: 900px) {
    .Projects .ProjectCard {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .Contact form .upper-form input {
      margin-right: 0;
      margin-left: 0;
    }

    .Contact .upper-form {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
    }

    .About {
      .about-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
      }

      .emoji {
        height: 325px;
      }
    }
  }

  @media (max-width: 600px) {
    .all-skills {
      grid-template-columns: 1fr;
    }
    
    .Projects {
  
      .projects {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .Home {
      .inputs {
        flex-direction: column;
      }
    }

    .email {

      .btn {
        svg {
          width: 15px;
          height: 15px;
        }
      }      
    }
    
    .NavBar {
      padding: 1rem;
    }

    .sections {
      margin-top: 31rem;
      padding-left: 0;
      padding-right: 0;

      section {
        padding: 0 1rem;
        padding-bottom: 2rem;
      }
    }
    
    .command {
      font-size: 1.25em;
    }

    section:first-of-type {
      border-radius: 2.5rem 2.5rem 0 0;
      padding-top: 2rem;
    }

    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    li, 
    p, 
    input, 
    textarea, 
    button,
    .btn, 
    .link {
      font-size: 1em;
    }

    .sections {
      padding: 0;
    }

    .link,
    .logo {
      font-size: 1.25em;
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 1.75em;
    }
  
    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }
  }
}