@import './vars/variables.scss';

section {
  padding: 1rem;
  margin: 0 auto 0 auto;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: $blackColor;
  background: $whiteColor;

  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.border {
  overflow: hidden;
  background: $bgColor;
  
  svg {
  width: 100%;
  fill: $whiteColor;
  }
}

.sections {
  padding: 0 0.5rem;
  margin-top: 32rem;
  position: relative;
  z-index: 5;

  section {
    padding-bottom: 4rem;
  }

  section:first-of-type {
    border-radius: 5rem 5rem 0 0;
    padding-top: 4rem;
  }
}

.App {
  h1 {
    font-size: 3em;
  }

  h2 {
    width: fit-content;
    font-size: 2em;
    margin-bottom: 1rem;
    border-bottom: 10px solid $redColor;
    padding: 0 1rem;
  }

  li, 
  p, 
  input, 
  textarea, 
  button,
  .btn, 
  .link {
    font-size: 1.25em;
  }

  label {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
  }

  .link {
    @include link();
  }

  .btn {
    @include btn();
  }

  .logo {
    @include logo();
  }

  .icon {
    @include icon();
  }
  
  @media (max-width: 1400px) {
    .NavBar {
      justify-content: space-between;
      padding: 1rem;
      
      .links-container {
        display: none;
      }

      .menu-icon {
        display: block;
      }

      &.show-menu {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        -webkit-box-shadow:0px 0px 0px 0px black; 
        box-shadow: 0px 0px 0px 0px black;
        background: rgba( $bgColor, 0.95 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        
        .links-container {
          display: flex;
          flex-direction: column;
          margin: 4rem 0;
        }

        .link {
          padding-left: 0;
          padding-right: 0;
        }

        .icons-container {
          width: 100%;
          margin-top: 2rem;
          display: flex;
          justify-content: space-evenly;
          
          a {
            margin-left: 0;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .Projects .ProjectCard {
      border-radius: 5rem;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .Contact form .upper-form input {
      margin-right: 0;
      margin-left: 0;
    }

    .Contact .upper-form {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
    }

    .About {
      padding-bottom: 0;
      
      .emoji-wrapper {
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;

        .emoji {
          width: 300px;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .command {
      font-size: 1.25em;
    }

    section:first-of-type {
      border-radius: 2.5rem 2.5rem 0 0;
      padding-top: 4rem;
    }

    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    li, 
    p, 
    input, 
    textarea, 
    button,
    .btn, 
    .link {
      font-size: 1em;
    }

    .sections {
      padding: 0;
    }
  }
}