@import './vars/variables.scss';

.all-certs {
  background: $bgColor;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.cert {
  width: max-content;
  
  img {
    width: 200px;
  }

  a {
    margin: 0.5rem auto 0 auto;
  }
}