@import './vars/variables.scss';

.Contact-class {
  
  .wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .upper-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    input:first-of-type {
      margin-right: 0.25rem;
    }

    input:last-of-type {
      margin-left: 0.25rem;
    }
  }

  form {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;

    input, textarea {
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: 1.5em;
      background-color: transparent;
      color: $whiteColor;
      outline: none;
      border: none;
      border: 2px solid $mutedWhiteColor;
      border-radius: 1rem;
      @include defaultTransition(all);

      &:focus {
        color: $redColor;
        border-color: $redColor;
      }
    }

    textarea {
      height: 250px;
    }
  }

  button {
    margin-top: 0.5rem;
  }

  .emoji-wrapper {
    width: fit-content;
    position: relative;
    z-index: 0;

    .emoji {
      width: 100%;
    }
  
    svg {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

#contact {
  margin-bottom: 0;
}
