@import './vars/variables.scss';

.Contact-class {

  .upper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    input:first-of-type {
      margin-right: 0.25rem;
    }

    input:last-of-type {
      margin-left: 0.25rem;
    }
  }

  form {
    max-width: 1000px;
    display: flex;
    flex-direction: column;

    input, textarea {
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: 2em;
      background-color: transparent;
      color: $whiteColor;
      outline: none;
      border: none;
      border: 2px solid $mutedWhiteColor;
      border-radius: 1rem;
      @include defaultTransition(all);

      &:focus {
        color: $redColor;
        border-color: $redColor;
      }
    }

    textarea {
      height: 250px;
    }
  }

  button {
    margin-top: 0.5rem;
  }
}
