@import "./vars/variables.scss";

.Foot {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  position: relative;
  z-index: 5;
  color: $whiteColor;
  background: $blackColor;

  p {
    font-size: 1em;
    color: #515151;
  }
}
