@import './vars/variables.scss';

.Home {
  width: 100%;
  padding: 0;
  position: fixed;
  color: $whiteColor;
  background: $blackColor;
  z-index: 1;
  top: 0;
  padding-top: 5rem;

  .emoji-wrapper {
    max-width: 200px;
    height: fit-content;
    border-radius: 50%;
    background-color: $redColor;
    overflow: hidden;
  
    .emoji {
      width: 100%;
      object-fit: cover;
      object-position: center;
      transform: translateY(20px);
    }  
  }

  .btn {
    margin-top: 1rem;
  }

  @media (max-width: 530px) {
    h1 {
      font-size: 4.5em;
    }
  }
}

.location {
  margin-top: 5px;
}

.inner-wrapper {
  @include defaultTransition(all);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper {
  background: $blackColor;
  color: $whiteColor;
  min-height: 100%;
  width: 100%;
}

.intro-heading {
  line-height: 0.75em;

  span.wrapper {
    display: block;
  }

  span.highlight {
    color: $redColor;
  }
}

.Skills {
  margin-top: 4rem;
}
