@import "./vars/variables.scss";

.NavBar {
  width: 100%;
  height: 200px;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  background-color: $blackColor;
}

.NavBar a {
  @include link;
  margin: 0 0.25rem;
}

.NavBar .logo {
  @include logo;
  margin-right: 2.5rem;
}