@import "./vars/variables.scss";

.NavBar {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include defaultTransition(all);

  &.scroll {
    background: rgba($bgColor, 0.95 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  }

  .logo.link {
    margin-left: 0;
    padding-left: 0;
  }

  .links-container {
    display: flex;
    align-items: center;
  }
  
  .link {
    margin: 0 0.25rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .icons-container {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  .menu-icon {
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
}
