@import './vars/variables.scss';

.PDFViewer {
  padding: 1rem 1rem 25rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;

  .viewer {
    margin-bottom: 2rem;
  }
  
  .top-bar {
    display: flex;
    width: 100%;
    padding: 1rem 1.25rem;
    justify-content: space-between;

    .viewer-btn {
      background: transparent;
      border: none;
      outline: none;
    }

    .zoom-buttons {
      button:nth-of-type(1) {
        margin-right: 2rem;
      }
    }

    svg {
      @include defaultTransition(fill);
      fill: $redColor;
      width: 2rem;
      height: 2rem;

      &:hover {
        fill: $whiteColor;
      }
    }
  }
}