@import './vars/variables.scss';

.Projects {
  width: 100%;
  max-width: 100%;
  padding: 4rem 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  .radio-btns {
    display: flex;
    justify-content: center;
    
    button {
      padding: 1rem 2rem; 
      background-color: $blackColor;
      color: $mutedWhiteColor;
      font-weight: bold;
      border: 2px solid $redColor;
      @include defaultTransition(all);
      
      &:first-of-type {
        border-radius: 1rem 0 0 1rem;
      }

      &:last-of-type {
        border-radius: 0 1rem 1rem 0;
      }
      
      &.active {
        border: 2px solid $whiteColor;
        color: $whiteColor;
        background: $redColor;
      }

      &:hover {
        &:not(.active) {
          transform: translateY(2px);
        }
      }
    }
  }

  h2 {
    color: $blackColor;
    border: none;
    margin: 0 auto;
  }

  svg {
    width: 100%;
    margin-bottom: -1rem;
  }

  .wrapper {
    width: 100%;
    margin-top: 0;
    padding: 0 2rem;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  .ProjectCard {
    margin: 0.5rem;
  }
}