@import './vars/variables.scss';

.ProjectCard {
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $blackColor;

  img {
    width: 100%;
  }

  .links {
    padding: 2rem 0;
    display: flex;

    .btn {
      margin-right: 1rem;
    }
  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
    color: $mutedWhiteColor;

    p {
      margin-right: 1.5rem;
    }
  }

  .desc {
    margin-top: 1.5rem;
  }
}