@import './vars/variables.scss';

.Projects {
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  .radio-btns {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    button {
      margin: 0 0.25rem;
      padding: 1rem 2rem; 
      color: $blackColor;
      background: none;
      font-weight: bold;
      border-bottom: 5px solid $blackColor;
      @include defaultTransition(all);
      
      &.active {
        color: $whiteColor;
        background: $redColor;
        border: none;
      }

      &:hover {
        &:not(.active) {
          transform: translateY(2px);
        }
      }
    }
  }

  h2 {
    margin: 0 auto;
  }

  svg {
    width: 100%;
    margin-bottom: -1rem;
  }

  .wrapper {
    width: 100%;
    margin-top: 0;
    padding: 0 2rem;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  .ProjectCard {
    margin: 0.5rem;
  }
}