@import './vars/variables.scss';

.all-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skill {
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  background: $bgColor;
  color: $whiteColor;

  h3 {
    text-align: center;
  }

  &:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}
