<% layout('layouts/boilerplate') %>

    <body>
        <header>
          <%- include('../../partials/exercise-tracker-navbar') %>

        </header>
        <main>
          <div class="week-container">
            <div class="day weekend"><p>
              Sun
            </p></div>
            <div class="day"><p>
              Mon
            </p></div>
            <div class="day"><p>
              Tue
            </p></div>
            <div class="day"><p>
              Wed
            </p></div>
            <div class="day"><p>
              Thur
            </p></div>
            <div class="day"><p>
              Fri
            </p></div>
            <div class="day weekend"><p>
              Sat
            </p></div>
          </div>
          <a href="/portfolio/exercise-tracker">Cancel</a>


        </main>
        <footer>

        </footer>
    </body>
