<% layout('layouts/boilerplate') %>

    <body>
        <header>
          <%- include('../../partials/exercise-tracker-navbar') %>

        </header>
        <main>
          <a href="/portfolio/exercise-tracker">Cancel</a>


        </main>
        <footer>

        </footer>
    </body>
