<% layout('layouts/boilerplate') %>

<body>
  <header>
    <nav>
      <a href="/portfolio/tattoo-shop-v2" class="link">Home</a>

      <div class="drop-container">
        <a href="/portfolio/tattoo-shop-v2#artists" class="link drop-link">Artists</a>
        <div class="drop-menu">
          <a href="/portfolio/tattoo-shop-v2/worker1" class="link">Worker 1</a>
          <a href="/portfolio/tattoo-shop-v2/worker2" class="link">Worker 2</a>
        </div>
      </div>

      <i class="fa-solid fa-dragon main-logo"></i>

      <div class="drop-container">
        <a href="/portfolio/tattoo-shop-v2#piercers" class="link drop-link">Piercers</a>
        <div class="drop-menu">
          <a href="/portfolio/tattoo-shop-v2/worker3" class="link">Worker 3</a>
        </div>
      </div>

      <a href="/portfolio/tattoo-shop-v2#contact" class="link">Contact</a>

      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <div class="worker-pic">
      <img src="https://images.unsplash.com/photo-1604449325317-4967c715538a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="Worker picture">
    </div>

    <div class="worker-name-container">
      <h1 class="worker-name">Worker 1</h1>
      <p class="worker-title">Artist / Owner</p>
    </div>
  </header>

  <main>
    <div class="album">
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1475695752828-6d2b0a83cf8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1137&q=80" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1568515045052-f9a854d70bfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1564426622559-5af68da63b96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1562962230-16e4623d36e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1598371839696-5c5bb00bdc28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1562379825-415aea84ebcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1579035478707-49db569751d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1604374376934-2df6fad6519b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1604374168824-4eab4b9d50fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1550511031-a302c603c823?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1584978417445-162c85c8d8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
      <div class="pic">
        <img src="https://images.unsplash.com/photo-1557130641-1b14718f096a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Portfolio image">
      </div>
    </div>
  </main>

  <div class="image-viewer">
    <button type="button" name="close"><i class="fa-solid fa-xmark"></i></button>
    <div>
      <button type="button" name="prev"><i class="fa-solid fa-angle-left"></i></button>
      <img src="" alt="Image">
      <button type="button" name="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>
  </div>

  <footer>
    <i class="fa-solid fa-dragon main-logo"></i>

    <p>&copy; 2022 Tattoo Shop</p>
    <nav>
      <a href="" class="link"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="link"><i class="fa-brands fa-instagram"></i></a>
      <a href="" class="link"><i class="fa-brands fa-twitter"></i></a>
    </nav>
  </footer>

</body>
