:root {
    --primary-color-partial: #FF5964;
    --secondary-color-partial: #e0e0e0;
    --bg-color-partial: #22333B;
    --bg-shadow-partial: #19252a;
    --text-color-partial: #e0e0e0;
    --muted-text-color-partial: #a3a3a3;
}

.partial-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: 0.75rem;
  background-color: rgb(34, 51, 59, 0.5);
}

.partial-navbar .partial-home-logo {
  width: 1.5rem;
  fill: var(--text-color-partial);
  transition: fill 0.5s ease;
}

.partial-home-logo.hover {
  fill: var(--primary-color-partial);
}

@media (max-width: 600px) {
  .partial-navbar {
    padding: 0.75rem;
  }
}
