:root {
  --color-bg: rgb(28, 28, 30);
  --color-text: rgb(209, 209, 214);
  --color-muted-text: rgb(99, 99, 102);
  --color-primary: #FF5964;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 7.5em;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

h3 {
  font-size: 2.25em;
  font-weight: bold;
}

p,
li {
  font-size: 2em;
  letter-spacing: 0.075em;
}

a {
  text-decoration: none;
  primary cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger-container {
  margin: 2rem;
  padding: 1rem;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  cursor: pointer;
  background-color: var(--color-bg);
  transition: transform 0.2s ease-in, margin 0.2s ease-in, background-color 0.2s ease-in;
}

.burger-menu {
  width: 1.5rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: rotate(0deg);
}

.burger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease;
}

.burger-menu span.hover {
  background-color: white;
}

.burger-menu span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

.burger-menu span:nth-child(2) {
  margin: auto 0;
  top: 0;
  bottom: 0;
  transform-origin: left center;
}

.burger-menu span:nth-child(3) {
  bottom: 0;
  transform-origin: left center;
}

.burger-container.toggle .burger-menu span:nth-child(1) {
  transform: rotate(36deg);
}

.burger-container.toggle .burger-menu span:nth-child(2) {
  width: 0;
}

.burger-container.toggle .burger-menu span:nth-child(3) {
  transform: rotate(-36deg);
}

ul {
  padding-left: 2rem;
}

ul li {
  margin: 0.25rem 0;
  padding-left: 2rem;
  position: relative;
}

ul li::before {
  content: '';
  margin: auto 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 0.1rem;
  width: 1rem;
  background-color: var(--color-primary);
}

.link {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--color-primary);
  transition: color 0.3s ease-in;
}

.link:hover {
  color: white;
}

.btn-link {
  width: fit-content;
  padding: 0.75rem 0;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-bottom: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
  transition: color 0.3s ease-in, border-color 0.3s ease-in, transform 0.2s ease-in;
}

.btn-link::after {
  content: '\279D';
  position: absolute;
  transition: opacity 0.3s ease-in;
}

.btn-link:hover {
  transform: translateX(3px);
  color: white;
  border-color: white;
}

.btn-link:hover::after {
  opacity: 0;
}

.icon {
  width: 2rem;
  fill: var(--color-primary);
  transition: fill 0.3s ease-in;
}

.icon:hover {
  fill: white;
}

.logo {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  color: white;
}

.logo::after {
  content: ' / Web Dev';
  color: var(--color-primary);
}

.section {
  padding: 4rem 0;
}

.section-heading {
  width: fit-content;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 0.1rem solid var(--color-primary);
}

.center-heading {
  margin-left: auto;
  margin-right: auto;
}

header,
main,
footer {
  width: 100%;
}

/*
Main padding has to be at least
7rem to accomodate navbar width
*/
main,
header,
footer {
  padding-left: 9rem;
  padding-right: 2rem;
}

header nav {
  height: 100%;
  width: 7rem;
  padding: 3rem 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-bg);
  transition: transform 0.2s ease-in;
}

nav .links-container {
  display: flex;
  flex-direction: column;
}

nav .links-container .link {
  margin: 3.5rem 0;
  transform: rotate(-90deg);
}

.logo-container {
  width: 100%;
  padding-right: 1.5rem;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: rotate(-90deg) translateY(-24px);
}

.logo-container::before {
  content: '';
  height: 1px;
  width: 20rem;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: var(--color-primary);
}

.logo-container .logo {
  transform: translateX(0) rotate(180deg);
  transition: transform 0.1s ease-in;
}

.logo-container .logo:hover {
  transform: translateX(-5px) rotate(180deg);
}

.full-section {
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-section h1 {
  text-align: center;
}

.full-section h2 {
  margin: 0.75rem 0;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.full-section p {
  width: 75%;
  text-align: center;
}

.full-section .arrow-container {
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease-in;
}

.full-section .arrow-container.scroll {
  opacity: 0;
}

.arrow-container::before {
  content: 'Scroll';
  text-transform: uppercase;
  font-weight: 100;
}

.section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section.skills ul {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.section.skills ul li {
  margin: 0.5rem 0;
}

.section.skills ul li::before {
  background-color: var(--color-primary);
}

.grid .links-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid .links-container .btn-link {
  margin: 1rem 0;
}

.work-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.work-tile {
  height: 22rem;
  width: auto;
  position: relative;
  overflow: hidden;
}

.work-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  transition: transform 0.5s ease;
}

.work-tile img.hover {
  transform: scale(1.1);
}

.project-info {
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1.5rem 1.25rem;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(28, 28, 30, 0.75);
  backdrop-filter: blur(5px);
  transition: opacity 0.5s ease;
}

.project-info.show {
  opacity: 1;
}

.project-info-title {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.project-info-title::before {
  content: '< ';
}

.project-info-title::after {
  content: ' />';
}

.project-info-title::before,
.project-info-title::after {
  color: var(--color-primary);
}

.project-info .subheading {
  text-align: left;
  padding: 0;
  margin-bottom: 0.25rem;
}

.project-info ul li {
  font-size: 1em;
}

.project-info .project-info-title,
.project-info .subheading {
  font-size: 1.5em;
}

.section.contact {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  width: 75%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg);
}

.contact-form label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.contact-form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  font-size: 1.25em;
  background-color: transparent;
  color: var(--color-text);
  border-bottom: 2px solid var(--color-muted-text);
  transition: color 0.5s ease, border 0.5s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.contact-form input[name='subject'],
.contact-form textarea {
  width: 100%;
}

.contact-form textarea {
  height: 12rem;
  resize: vertical;
}

.contact-form button {
  margin: 0 1rem;
}

footer .container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container p {
  font-size: 1em;
  text-align: center;
  color: var(--color-muted-text);
}

@media (max-width: 550px) {
  .section .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .burger-container {
    display: block;
    transform: translateY(0);
  }

  .burger-container.toggle {
    margin-right: 0;
    transform: translateY(350px);
    background-color: transparent;
  }

  body.toggle {
    overflow-y: hidden;
  }

  main,
  header,
  footer {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  header nav {
    width: 100%;
    /* box-shadow: 10px 0px 13px -7px #000000; */
    background-color: rgb(28, 28, 30, 0.9);
    backdrop-filter: blur(10px);
    transform: translateX(-1000px);
  }

  header nav.toggle {
    transform: translateX(0);
  }

  nav .links-container .link {
    transform: rotate(0);
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form div {
    grid-template-columns: 1fr;
  }
}
