:root {
  --color-bg: rgb(28, 28, 30);
  --color-text: rgb(209, 209, 214);
  --color-primary: #FF5964;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 7.5em;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

h3 {
  font-size: 2.25em;
  font-weight: bold;
}

p, li {
  font-size: 2em;
  letter-spacing: 0.075em;
}

a {
  text-decoration: none;primary
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  padding-left: 2rem;
}

ul li {
  margin: 0.25rem;
  padding-left: 2rem;
  position: relative;
}

ul li::after {
  content: '';
  margin: auto 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 0.1rem;
  width: 1rem;
  background-color: var(--color-primary);
}

.link {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--color-primary);
  transition: color 0.3s ease-in;
}

.link:hover {
  color: white;
}

.btn-link {
  width: fit-content;
  padding: 0.75rem 0;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-bottom: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
  transition: color 0.3s ease-in, border-color 0.3s ease-in, transform 0.2s ease-in;
}

.btn-link::after {
  content: '\279D';
  position: absolute;
  transition: opacity 0.3s ease-in;
}

.btn-link:hover {
  transform: translateX(3px);
  color: white;
  border-color: white;
}

.btn-link:hover::after {
  opacity: 0;
}

.icon {
  width: 2rem;
  fill: var(--color-primary);
  transition: fill 0.3s ease-in;
}

.icon:hover {
  fill: white;
}

.logo {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  color: white;
}

.logo::after {
  content: ' / Web Dev';
  color: var(--color-primary);
}

.section {
  padding: 4rem 0;
}

.section-heading {
  width: fit-content;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  border-top: 0.1rem solid var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
}

header,
main,
footer {
  width: 100%;
}

/*
Main padding has to be at least
4rem to accomodate navbar width
*/
main, header, footer {
  padding-left: 9rem;
  padding-right: 2rem;
}

header nav {
  height: 100%;
  width: 7rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

nav .links-container {
  display: flex;
  flex-direction: column;
}

nav .links-container .link {
  margin: 3.5rem 0;
  transform: rotate(-90deg);
}

.logo-container {
  height: 100%;
  padding: 6rem 0;
  display: flex;
  align-items: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
}

.logo-container::before {
  content: '';
  width: 1px;
  height: 15rem;
  margin-right: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
}

.logo-container .logo {
  transform: rotate(90deg) translateY(-66px);
  transition: transform 0.1s ease-in;
}

.logo-container .logo:hover {
  transform: rotate(90deg) translateY(-66px) translateX(-5px);
}

.full-section {
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-section h1 {
  text-align: center;
}

.full-section h2 {
  margin: 0.75rem 0;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.full-section p {
  width: 75%;
  text-align: center;
}

.full-section .arrow-container {
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease-in;
}

.full-section .arrow-container.scroll {
  opacity: 0;
}

.arrow-container::before {
  content: 'Scroll';
  text-transform: uppercase;
  font-weight: 100;
}

.section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid .links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid .links-container .btn-link {
  margin: 1rem 0;
}

img {
  width: 100%;
  object-fit: contain;
}
