<% layout('layouts/boilerplate') %>

    <body>
        <header>
            <%- include('../partials/exercise-tracker-navbar') %>
        </header>
        <main>

            <div id="calendar">
            </div>

        </main>
        <footer>

        </footer>
    </body>