<% layout('layouts/boilerplate') %>

    <body>
        <header>
            <%- include('../partials/exercise-tracker-navbar') %>
        </header>
        <main>

            <%- include('../partials/exercise-tracker-calendar') %>

                <h1>Todays Workout</h1>
                <div>
                    <% if(exerciseRoutine[`${todaysDate.dayName.toLowerCase()}`].workouts.length) { %>
                        <ul>
                            <% exerciseRoutine[`${todaysDate.dayName.toLowerCase()}`].workouts.forEach((workout)=> { %>
                                <li>
                                    <%= workout %>
                                </li>
                                <% }); %>

                                    <% } %>
                        </ul>
                </div>

                <a href="/portfolio/exercise-tracker/modify">Modify Routine</a>

        </main>
        <footer>

        </footer>
    </body>