<% layout('layouts/boilerplate') %>

    <body>
        <header>
            <nav class="main-nav">
                <a href="#intro">LOGO</a>
                <div>
                    <button class="btn-lg">&#9776;</button>
                    <ul>
                        <li class="nav-links"><a class="btn" href="#artists">Artists</a></li>
                        <li class="nav-links"><a class="btn" href="#piercers">Piercers</a></li>
                        <li class="nav-links"><a class="btn" href="#book">Book</a></li>
                    </ul>
                </div>

            </nav>
            <div class="intro-container" id="intro">
                <h1>Tattoo Shop</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore tempore nulla ut at in, dolorem,
                    corrupti
                    quis ipsa, repellat voluptas necessitatibus nesciunt atque asperiores autem magnam recusandae a hic
                    obcaecati!</p>
            </div>
        </header>
        <main>
            <section id="artists" class="sect">
                <h2 class="heading">Who We Are</h2>

                <div class="worker-container">
                    <img src="https://images.unsplash.com/photo-1513078094721-e7b6e0394a6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                        alt="">
                    <div class="worker-info">
                        <h3>Worker</h3>
                        <p class="muted-p">Artist/Owner</p>
                        <p class="worker-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            blanditiis animi. Accusamus
                            optio
                            unde molestias eius, facilis ipsa maiores eligendi incidunt! Aut officia quidem minima
                            officiis
                            voluptas velit in ut.</p>

                        <button class="btn-lg">View My Work</button>
                    </div>
                </div>
                <div class="worker-gallery">
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1475695752828-6d2b0a83cf8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1137&q=80"
                            alt="">
                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1568515045052-f9a854d70bfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1564426622559-5af68da63b96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1562962230-16e4623d36e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGF0dG9vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1598371839696-5c5bb00bdc28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1562379825-415aea84ebcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1579035478707-49db569751d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1604374376934-2df6fad6519b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1604374168824-4eab4b9d50fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1550511031-a302c603c823?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1584978417445-162c85c8d8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1557130641-1b14718f096a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                </div>

                <div class="worker-container">
                    <img src="https://images.unsplash.com/photo-1611501275019-9b5cda994e8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                        alt="">
                    <div class="worker-info">
                        <h3>Worker</h3>
                        <p class="muted-p">Artist</p>
                        <p class="worker-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            blanditiis animi. Accusamus
                            optio
                            unde molestias eius, facilis ipsa maiores eligendi incidunt! Aut officia quidem minima
                            officiis
                            voluptas velit in ut.</p>

                        <button class="btn-lg">View My Work</button>
                    </div>
                </div>
                <div class="worker-gallery">
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1542727365-19732a80dcfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1586243287039-23f4c8e2e7ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1454329030972-00583f5f051f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1585303390830-874c989ce8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1607382007937-fe3a9d196b7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>
                    <div class="tiles hide-height">
                        <img src="https://images.unsplash.com/photo-1601848714157-d845bb5c11ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHRhdHRvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">

                    </div>

                </div>

                <section id="piercers">
                    <div class="worker-container">
                        <img src="https://images.unsplash.com/photo-1520563683082-7ef74b616a89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                            alt="">
                        <div class="worker-info">
                            <h3>Worker</h3>
                            <p class="muted-p">Piercer</p>
                            <p class="worker-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                                blanditiis animi. Accusamus
                                optio
                                unde molestias eius, facilis ipsa maiores eligendi incidunt! Aut officia quidem minima
                                officiis
                                voluptas velit in ut.</p>

                            <button class="btn-lg">View My Work</button>
                        </div>
                    </div>
                    <div class="worker-gallery">
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1603323226047-df6de54ddc13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGllcmNpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="">
                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1554726673-d178b7cac17a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGllcmNpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1567601262588-37537a1f6cc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGllcmNpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1619275052165-69c202e49ade?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHBpZXJjaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1588772868632-de449419fc5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMxfHxwaWVyY2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1625599612657-1c893753a87e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBpZXJjaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>

                    </div>

                    <div class="worker-container">
                        <img src="https://images.unsplash.com/photo-1591452713369-20693cd80184?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHBpZXJjaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="">
                        <div class="worker-info">
                            <h3>Worker</h3>
                            <p class="muted-p">Piercer</p>
                            <p class="worker-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                                blanditiis animi. Accusamus
                                optio
                                unde molestias eius, facilis ipsa maiores eligendi incidunt! Aut officia quidem minima
                                officiis
                                voluptas velit in ut.</p>

                            <button class="btn-lg">View My Work</button>
                        </div>
                    </div>
                    <div class="worker-gallery">
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1566343965810-d52d7987c8e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHBpZXJjaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">
                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1534607287018-541c7d97748f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fHBpZXJjaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>
                        <div class="tiles hide-height">
                            <img src="https://images.unsplash.com/photo-1585141846536-9c2b3292a58f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTczfHxwaWVyY2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt="">

                        </div>

                    </div>

                </section>
            </section>

            <div class="picture-container">
                <button class="close btn-lg">&#10006;</button>
                <div class="picture-viewer">
                    <button class="prev btn-lg">&#10094;</button>
                    <img src="" alt="">
                    <button class="next btn-lg">&#10095;</button>
                </div>
            </div>

            <section class="sect" id="book">
                <h2 class="heading">Book An Appointment!</h2>

                <form action="/" method="post">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name" required>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>

                    <div class="radio-group">
                        <p class="muted-p">Type of Appointment:</p>

                        <div>
                            <input type="radio" name="type" id="tattoo" value="tattoo" required>
                            <label for="tattoo">Tattoo</label>
                        </div>

                        <div>
                            <input type="radio" name="type" id="piercing" value="piercing" required>
                            <label for="piercing">Piercing</label>
                        </div>

                    </div>

                    <button class="btn-lg">Send</button>
                </form>

            </section>

        </main>
        <footer>
            <ul>
                <li><a class="btn" href="#">Link</a></li>
                <li><a class="btn" href="#">Link</a></li>
                <li><a class="btn" href="#">Link</a></li>
            </ul>
            <p class="muted-p">&#169 Tattoo Shop</p>
        </footer>

    </body>