<% layout('layouts/boilerplate') %>

<body>
  <header>
    <nav>
      <a href="/portfolio/tattoo-shop-v2" class="link">Home</a>

      <div class="drop-container">
        <a href="/portfolio/tattoo-shop-v2#artists" class="link drop-link">Artists</a>
        <div class="drop-menu">
          <a href="/portfolio/tattoo-shop-v2/worker1" class="link">Worker 1</a>
          <a href="/portfolio/tattoo-shop-v2/worker2" class="link">Worker 2</a>
        </div>
      </div>

      <i class="fa-solid fa-dragon main-logo"></i>

      <div class="drop-container">
        <a href="/portfolio/tattoo-shop-v2#piercers" class="link drop-link">Piercers</a>
        <div class="drop-menu">
          <a href="/portfolio/tattoo-shop-v2/worker3" class="link">Worker 3</a>
        </div>
      </div>

      <a href="/portfolio/tattoo-shop-v2#contact" class="link">Contact</a>

      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <h1>Tattoo Shop</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </header>

  <main>
    <section id="artists">
      <div class="worker">
        <div class="worker-pic">
          <img src="https://images.unsplash.com/photo-1604449325317-4967c715538a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="Worker picture">
        </div>
        <div class="worker-info">
          <h2 class="worker-name">Name</h2>
          <p class="worker-title">Artist / Owner</p>
          <p class="worker-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="/portfolio/tattoo-shop-v2/worker1" class="btn">Portfolio</a>
        </div>
      </div>

      <div class="worker">
        <div class="worker-pic">
          <img src="https://images.unsplash.com/photo-1586243287039-23f4c8e2e7ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Worker picture">
        </div>
        <div class="worker-info">
          <h2 class="worker-name">Name</h2>
          <p class="worker-title">Artist</p>
          <p class="worker-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="/portfolio/tattoo-shop-v2/worker2" class="btn">Portfolio</a>
        </div>
      </div>
    </section>


    <section id="piercers">
      <div class="worker">
        <div class="worker-pic">
          <img src="https://images.unsplash.com/photo-1530021232320-687d8e3dba54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Worker picture">
        </div>
        <div class="worker-info">
          <h2 class="worker-name">Name</h2>
          <p class="worker-title">Piercer</p>
          <p class="worker-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="/portfolio/tattoo-shop-v2/worker3" class="btn">Portfolio</a>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="section">
        <h2 class="section-heading">Get In Touch!</h2>

        <div class="shop-info">
          <p>Tattoo Shop</p>
          <p>Street</p>
          <p>City, State 00000</p>
        </div>

        <div class="shop-info">
          <p>Monday - Friday</p>
          <p>9am to 5pm</p>
        </div>

        <div class="shop-info">
          <p>(000) 000-0000</p>
          <p>email@email.com</p>
        </div>

        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3068.2540242554296!2d-75.62969808508127!3d39.73394440480522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c701fc2d5614e3%3A0x12f2d3000df69e4f!2sWilmington%2C%20DE%2019808!5e0!3m2!1sen!2sus!4v1655164471299!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <i class="fa-solid fa-dragon main-logo"></i>

    <p>&copy; 2022 Tattoo Shop</p>
    <nav>
      <a href="" class="link"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="link"><i class="fa-brands fa-instagram"></i></a>
      <a href="" class="link"><i class="fa-brands fa-twitter"></i></a>
    </nav>
  </footer>
</body>
