<% layout('layouts/boilerplate') %>

    <body>
        <header>
            <%- include('../partials/twitter-clone-navbar') %>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>