<% layout('layouts/boilerplate') %>

<body>
  <header>
    <form action="/portfolio/weather" method="post">
      <label for="zip" class="hide">Zip-Code</label>
      <input type="number" name="zip" id="zip" placeholder="Enter Zip-Code" required>
      <button class="btn">Submit</button>
    </form>
    <p id="date"></p>
    <% if (data) { %>
      <h1 id="weather-header"><%= data.current_observation.condition.temperature %></h1>
      <p id="summary"><%= data.current_observation.condition.text %></p>
      <p id="location"><%= `${data.location.city}, ${data.location.region}` %></p>
    <% } %>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
